// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.q3-wrapper {
  margin-top: 30px;
}

.required {
  color: red;
}

.recommended {
  color: #aaa;
}

.field_with_errors {
  display: inline;
}

.action-button {
  width: 80px;
}